.header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding-bottom: 1em;

  &__inputs {
    display: flex;
    flex-flow: row;
    align-items: center;

    & > label {
      margin-left: 1em;
      margin-right: 0.25em;
    }
  }

  &__reset-button::before {
    content: "🔄";
  }

  &__reset-button {
    margin-right: 1em;
  }
}
